@import 'tailwindcss';
@plugin "daisyui";
@import './themes/mnemiq-light.css';
@import './themes/mnemiq-dark.css';

@theme inline {
  /* larger breakpoint */
  --breakpoint-8xl: 96rem;
  --container-8xl: 96rem;

  /* fonts */
  --font-display: var(--font-archivo-black);
  --font-sans: var(--font-sora);
}

@utility fluid-* {
  /* fluid typography */
  --fluid-2xs: clamp(0.625rem, 0.5846rem + 0.1723vw, 0.75rem);
  --fluid-xs: clamp(0.75rem, 0.7096rem + 0.1723vw, 0.875rem);
  --fluid-s: clamp(0.75rem, 0.6693rem + 0.3445vw, 1rem);
  --fluid-m: clamp(1rem, 0.8385rem + 0.6891vw, 1.5rem);
  --fluid-l: clamp(1.5rem, 1.177rem + 1.3781vw, 2.5rem);
  --fluid-xl: clamp(2rem, 1.5155rem + 2.0672vw, 3.5rem);
  --fluid-2xl: clamp(3rem, 2.354rem + 2.7562vw, 5rem);
  --fluid-3xl: clamp(4.0625rem, 2.9522rem + 4.7374vw, 7.5rem);
  --fluid-4xl: clamp(5.5rem, 4.3695rem + 4.8234vw, 9rem);
  --fluid-5xl: clamp(7rem, 5.5465rem + 6.2016vw, 11.5rem);
  --fluid-6xl: clamp(8.75rem, 6.8928rem + 7.9242vw, 14.5rem);
  --fluid-7xl: clamp(10.5rem, 8.0775rem + 10.3359vw, 18rem);
  --fluid-8xl: clamp(13rem, 9.9307rem + 13.0922vw, 22.5rem);
}

/* app/globals.css */
@utility focus-ring {
  @apply focus:outline-none focus:ring-1 focus:ring-primary focus:ring-offset-4;
}
