@import "tailwindcss";
@plugin "daisyui";
@import "./themes/mnemiq-light.css";
@import "./themes/mnemiq-dark.css";

@theme inline {
  /* larger breakpoint */
  --breakpoint-8xl: 96rem;
  --container-8xl: 96rem;

  /* fonts */
  --font-display: var(--font-archivo-black);
  --font-sans: var(--font-sora);
}

@theme {
  /* fluid typography */
  --fluid-2xs: clamp(0.625rem, 0.5846rem + 0.1723vw, 0.75rem);
  --fluid-xs: clamp(0.75rem, 0.7096rem + 0.1723vw, 0.875rem);
  --fluid-sm: clamp(0.75rem, 0.6693rem + 0.3445vw, 1rem);
  --fluid-md: clamp(1rem, 0.8385rem + 0.6891vw, 1.5rem);
  --fluid-lg: clamp(1.5rem, 1.177rem + 1.3781vw, 2.5rem);
  --fluid-xl: clamp(2rem, 1.5155rem + 2.0672vw, 3.5rem);
  --fluid-2xl: clamp(2.5rem, 1.6925rem + 3.4453vw, 5rem);
  --fluid-3xl: clamp(3.3854rem, 2.0564rem + 5.6704vw, 7.5rem);
  --fluid-4xl: clamp(4.5833rem, 3.1568rem + 6.0867vw, 9rem);
  --fluid-5xl: clamp(5.8333rem, 4.003rem + 7.8094vw, 11.5rem);
  --fluid-6xl: clamp(7.2917rem, 4.9634rem + 9.934vw, 14.5rem);
  --fluid-7xl: clamp(8.75rem, 5.7623rem + 12.7476vw, 18rem);
  --fluid-8xl: clamp(10.8333rem, 7.065rem + 16.0781vw, 22.5rem);
}

@utility fluid-* {
  font-size: --value(--fluid-*);
}
